<%- include("templates/header") %>
<div class="card p-4">
    <div class="card-content">
      <div class="content">
        <form action="/updateempresa/<%=empres._id%>" method="POST">
        <div class="field">
          <label class="label">Codigo Empresa</label>
          <div class="control">
            <input class="input" type="text" placeholder="codempresa" id="codempresa" name="codempresa" value="<%=empres.codempresa%>" readonly="readonly">
          </div>
        </div>
        <div class="field">
          <label class="label">Nombre Empresa</label>
          <div class="control">
            <input class="input" type="text" placeholder="nombre" id="nombre" name="nombre" value="<%=empres.nombre%>" >
          </div>
        </div>
        <button type="submit" class="button is-info is-outlined">Actualizar</button>
        <a href="/empresa" class="button is-info is-outlined">Regresar</a>
        </form>
      </div>
    </div>
  </div>
<%- include("templates/footer") %>